.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  position: relative;
  background-color: white;
  /* min-height: 100vh; */
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
