.renderer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}