/* circle {
    transition: r 1.5s;
}

circle:hover {
    r: 30;
} */


.circText {
    color: yellow;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 5px;
}