.buttonHouse {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.inputHouse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputHouse .inputButton {
  margin-top: 10px;
  margin-bottom: 10px;
}
